body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #ffffff;
}
.navi {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.navi-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.navi-link:hover {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
}

.address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}
.address-link:hover {
  font-size: 16px;
  font-weight: 400;
  color: #404bbf;
}
.button {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #4d5ae5;
}
.button:hover {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #404bbf;
}
h1 {
  font-size: 56px;
  font-weight: 700;
}
.section2-h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}
.section2-p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}
.section3-4-p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}
.footer-p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  background: #2e2f42;
}
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: #2e2f42;
}
